<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
    <form method="post" action="/">
        <p>
            <br>Логін:
            <input type="input" size="80" name="login_zn" required>
        </p>
        <p>
            <br>Пароль:
            <input type="text" size="80" name="password_zn" required>
        </p>
        <p>
            <button type="submit">Увійти</button></p>
        </form>
        <form action="/new">
            <button type="submit"> Зареєструватися</button>
        </form>

<body>

    
</body>
</html>