<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
    <form method="post" action="/new">
        <p>
            <br>Сторіть логін:
            <input type="input" size="80" name="login_new" required>
        </p>
        <p>
            <br>Сторіть пароль:
            <input type="text" size="80" name="password_new" required>
        </p>
        <p>
            <button type="submit"> Зареєструватися</button>
        </p>

<body>

    
</body>
</html>